.total-container {
width: 1200px;
margin-top: 30px;
margin-bottom: 50px;
}

.total-sum-container {
  width: 1200px im !important;
}

.total-sum-card {
  width: 250px;
  background-color: $green;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 30px;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-total-title {
  color: white;
  font-size: 15px;
}

.card-total-value {
  color: white;
  font-size: 50px;
}

.tab-content-all {
  display: flex !important;
  width: 1200px;
}


.page-padding-dashboard {
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px;
  transition: margin-left 250ms ease-in-out;
  margin-left: -250px;
}

.sidebar-closed {
  margin-left: 0px;
}

.container-show-dashboard {
  width: 1000px;
}

#daily-tab {
  background-color: $purple;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  color: white;
  border-style: none;
  margin-bottom: 30px;
}

#weekly-tab {
  background-color: $purple;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  color: white;
  border-style: none;
  margin-bottom: 30px;
}


#monthly-tab {
  background-color: $purple;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  color: white;
  border-style: none;
  margin-bottom: 30px;
}

.monthly-tab:before {
  background-color: $green;
}

.device-charts-container {
  width: 800px;
}

.tab-pane {
  // width:100px;
}


.device-charts-card {
  margin: 20px;
  width: 1200px;
  margin-bottom: 50px;
}

.total-card {
  width: 200px;
  height: 70px;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-style: solid;
  border-color: $purple;
  text-align: center;
  padding: 5px;
}

.card-title {
  color: $purple;
  font-size: 10px;
  margin: 0 !important;
}


.card-value {
  color: $purple;
  font-size: 30px;
  margin: 0 !important;
}

.chart-card {
  width: 500px;
  border-radius: 30px;
  // box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  background-color: white;
  text-align: center;
}

.chart-sum-card {
  height: 380px;
}

.tab-content {
  margin-top: 30px;
}

.btn-format {
  flex: 1 1 auto;
  margin: 10px;
  // padding: 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 120px;
  height:40px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-width: 2px;
  background-color: $green !important;
 }

 .btn-format-device {
  flex: 1 1 auto;
  margin: 10px;
  // padding: 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 120px;
  height:40px;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-width: 2px;
  background-color: $purple !important;
 }

 .btn-format p {
    margin: 0 auto;
    text-align: center;
 }
 .btn-format:hover {
  background-position: right center; /* change the direction of the change here */
}



