.new-header {
  margin-bottom: 50px;
}

.new-form {
  width: 500px !important;
  margin-top: 70px;
}

[class="btn"] {
  @extend .btn-primary;
}

.btn-primary {
  background-color: #7400b8 !important;
  color: #fff !important;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  width: 200px;
  border-style: none;
  margin-top: 20px;
}

.new-container {
  width: 1000px;
  margin-bottom:50px;
}

.form-control {
  border-radius: 30px !important;
}

.form-group label {
  color: $purple !important;
}


@keyframes light {
    0% {
        background: #e7f1f3;
    }
    50% {
        background: #1c1d1d;
    }
    100% {
        background: #e7f1f3;
    }
}

.container-3 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    animation: light 8s ease-in-out infinite;
}

@keyframes moon {
    0% {
        top: -60px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: -60px;
    }
}

.moon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    animation: moon 8s ease-in-out infinite;
}

.moon::before, .moon::after {
    content: '';
    position: absolute;
}

.moon::before {
    width: 15px;
    height: 15px;
    color: #f2f2f2;
    background: currentColor;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    box-shadow: 25px 13px 0 0 currentColor, 9px 27px 0 0 currentColor;
}

.moon::after {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    color: #7400b8;
    background-color: currentColor;
    top: 30px;
    left: 70px;
    box-shadow: -10px -27px 0 0 currentColor,
    -20px -52px 0 0 currentColor,
    53px -32px 0 0 currentColor,
    -117px 23px 0 0 currentColor,
    64px 41px 0 0 currentColor;
}

.grass {
    position: absolute;
    height: 90px;
    width: 100%;
    background: #64dfdf;
    bottom: 0;
    left: 0;;
}

.road {
    position: absolute;
    background: #8b8b8b;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
}

.road::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    width: 80px;
    height: 20px;
    transform: translateX(-50%);
    background: #8b8b8b;
}

.house {
    position: absolute;
    width: 196px;
    height: 110px;
    background: #fff;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
}

.roof {
  border-bottom: 78px solid #fff;
  border-left: 98px solid transparent;
  border-right: 98px solid transparent;
  height: 0;
  width: 0;
    top: -78px;
    left: 50%;
    transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.roof::before {
    content: '';
    position: absolute;
    width: 131px;
    height: 4px;
    left: -16px;
    top: 35px;
    background-color: #7400b8;
    border: 1px solid #7400b8;
    transform: rotate(39.1deg);
    box-shadow: -3px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.roof::after {
    background-color: #7400b8;
    border: 1px solid #7400b8;
    content: '';
    position: absolute;
    width: 131px;
    height: 4px;
    bottom: -41px;
    left: -115px;
    transform: rotate(-39.1deg);
    box-shadow: -3px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.fasade {
    position: absolute;
    bottom: 16px;
    left: 0;
    color: #d6d8cd;
    background: currentColor;
    height: 2px;
    width: 100%;
    box-shadow: 0 -6px 0 0 currentColor,
     0 -12px 0 0 currentColor,
     0 -18px 0 0 currentColor,
     0 -24px 0 0 currentColor,
     0 -30px 0 0 currentColor,
     0 -36px 0 0 currentColor,
     0 -42px 0 0 currentColor,
     0 -48px 0 0 currentColor,
     0 -54px 0 0 currentColor,
     0 -60px 0 0 currentColor,
     0 -66px 0 0 currentColor,
     0 -72px 0 0 currentColor,
     0 -78px 0 0 currentColor,
     0 -84px 0 0 currentColor,
     0 -90px 0 0 currentColor;
}

.fondation {
    position: absolute;
    bottom: 0;
    height: 16px;
    width: 100%;
    background:  #d9d9d9;
}

.door {
    position: absolute;
    width: 44px;
    height: 80px;
    bottom: 16px;
    left: 78px;
    background: #7400b8;
}
.door::before, .door::after {
    content: '';
    position: absolute;
}

.door::before {
    top: 3px;
    left: 3px;
    height: calc(100% - 3px);
    width: 3px;
    background: #1e475f;
    box-shadow: 35px 0 0 0 #5A0B4D;
}

.door::after {
    top: 3px;
    left: 3px;
    width: calc(100% - 8px);
    height: 3px;
    background: #5A0B4D;
    box-shadow: 0 37px 0 0 #5A0B4D, 0 74px 0 0 #5A0B4D;
}

.windows {
    position: absolute;
    height: 54px;
    width: 80%;
    left: 20px;
    top: 14px;
}

.window {
    position: absolute;
    left: 0;
    background: #64dfdf;
    width: 34px;
    height: 100%;
    border: 3px solid #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.window::before, .window::after {
    content: '';
    position: absolute;
}

.window::before {
    width: 100%;
    height: 3px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.window::after {
    width: 4px;
    height: 100%;
    transform: rotate(30deg);
    box-shadow: 13px -8px 5px 0px rgba(255, 255, 255, 0.2);
}

.window:last-of-type {
    left: auto;
    right: 0;
}

.stairs {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 16px;
    width: 94px;
    transform: translateX(-50%);
}

.stair {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: #c1cac5;
    border: 1px solid #b6c0b8;
}

.stair:last-of-type {
    width: 80%;
    bottom: 8px;
    left: 8px;
}

.chimney {
    position: absolute;
    top: -55px;
    left: 25px;
    width: 15px;
    height: 40px;
    border-right: 2px solid #b9b9b9;
    background: #cdd2cc;
}

.chimney::before, .chimney::after {
    content: '';
    position: absolute;
}

@keyframes smoke1 {
    0% {
        left: 0;
        bottom: 20px;
    }
    50% {
        left: 20px;
        bottom: 70px;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 0px;
        bottom: 130px;
        width: 0px;
        height: 0px;
    }
  }
  @keyframes smoke2 {
    0% {
        left: 0;
        bottom: 20px;
    }
    50% {
        left: 10px;
        bottom: 60px;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0px;
        bottom: 100px;
        width: 0px;
        height: 0px;
    }
  }

.chimney::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b9b9b9;
    animation: smoke1 2s ease-in-out infinite;
    z-index: -1;
}

.chimney::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c9c9c9;
    animation: smoke2 1.6s 1s ease-in-out infinite;
    z-index: -1;
}

@keyframes cloud {
    to {
        left: 100%;
    }
}

.cloud {
    position: absolute;
    top: 60px;
    left: -20%;
    color: #56cfe1;
    background: currentColor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 17px 6px 0 0 currentColor,
    22px -5px 0 0 currentColor,
    39px 0 0 0 currentColor;
    animation: cloud 7s ease-in-out infinite;
}

.cloud:nth-of-type(1) {
    animation-delay: 2s;
    top: 90px;
}

.cloud:nth-of-type(2) {
    animation-delay: 3s;
    top: 40px;
    color: #56cfe1;
    z-index: 1;
}

.tree {
    position: absolute;
    left: 66px;
    bottom: 90px;
    width: 6px;
    height: 30px;
    background: #635948;
}

.tree::before, .tree::after {
    content: '';
    position: absolute;
}

.tree::before {
    bottom: 30px;
    left: -18px;
    width: 40px;
    height: 70px;
    color: #72efdd;
    background: currentColor;
    border-radius: 27px 24px 24px 25px;
    box-shadow: -6px -19px 0 0 currentColor,
      0 -37px 0 0 currentColor,
      6px -19px 0 0 currentColor;
}

@keyframes car {
    0% {
        right: -93px;
    }
    30%, 60% {
        right: 150px;
    }
    100% {
        right: 390px;
    }
}

@keyframes engine {
    from {
        bottom: 59px;
    }
    to {
        bottom: 63px;
    }
}

.car {
    position: absolute;
    background: #e0091e;
    width: 93px;
    height: 33px;
    border-radius: 25px 6px 9px 8px;
    z-index: 2;
    animation: car 8s ease-in-out infinite, engine 0.3s ease-in-out infinite;
}

.car::before, .car::after {
    content: '';
    position: absolute;
}

.car::before {
    bottom: 25px;
    left: 32px;
    width: 50px;
    height: 33px;
    background: #e0091e;
    border-radius: 25px 16px 0 0;
}

.car::after {
    bottom: 33px;
    left: 42px;
    width: 30px;
    height: 20px;
    background: #fff;
    border-radius: 25px 16px 0 0;
}

@keyframes smoke {
    from {
        right: -5px;
    }
    to {
        right: -15px;
    }
}

.smoke {
    position: absolute;
    bottom: 10px;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: -1;
    animation: smoke 0.6s ease infinite;
}

.tire {
    position: absolute;
    left: 9px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    border: 2px solid #fff;
}

.tire:last-of-type {
    left: 62px;
}
