
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Jelena Jovanovic <span>Web Developer</span></li>
      <li><a href="https://vanila.io" target="_blank">Dashboard</a></li>
      <li><a href="https://instagram.com/plavookac" target="_blank">History</a></li>
      <li><a href="https://twitter.com/plavookac" target="_blank">Settings</a></li>
      <br><br><br>
      <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">Eco-Mode</a></li>
      <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Home-away</a></li>
    </ul>
  </div>
