<% if user_signed_in? %>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Elisabeth Banks <span>Member</span></li>
      <%= image_tag "pres.jpg", class: "avatar-sidebar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <li> <%= link_to "Dashboard", homes_path %> </li>
      <li><%= link_to "My Bills" %></li>
      <li><%= link_to "My SHE" %></li>
      <br><br><br>
      <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">Eco-Mode</a></li>
      <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Home-away</a></li>
    </ul>
  </div>
  <% else %>
  <% end %>

 