
<div class="page-padding">
<h1>All Homes</h1>
<div class="home-cards d-flex flex-column">
<% @homes.each do |home| %>
<div class="home-card">
	<p class="home-name-card"><%= link_to home.name, home_path(home), class: "home-name-card" %></p>
	<p class="home-location-card"><%= home.location %> </p>
</div>
<% end %>


<%= link_to "Add/Create a new Home", new_home_path %>
